@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body{
    font-family: 'Space Grotesk';
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.container .leftSide{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container .leftSide .frontCard{
    background: url(/images/bg-card-front.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
}

.container .leftSide .frontCard div{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .leftSide .frontCard .numberCardResult{
    font-size: xx-large;
}

.container .leftSide .backCard{
    background: url(/images/bg-card-back.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
}

p{
    color: white;
}

.container .rightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .rightSide form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 70vh;

}

.container .rightSide form div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .rightSide form .lastInfo{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container .rightSide form .lastInfo .date{
    display: flex;
    flex-direction: column;
}

.container .rightSide form .lastInfo .date div{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10px;
}

.container .rightSide form .lastInfo .codecvc{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.container .rightSide form input{
    padding: 10px 10px;
    font-size: large;
    border-radius: 5px;
    border: solid 1px hsl(270, 3%, 87%);
    max-width: 100%;
}

.container .rightSide form .submit{
    background-color: hsl(278, 68%, 11%);
    color: white;
    border: none;
}
